
<h4>Filter:</h4>
<!-- <pre>Form values: {{myForm.value | json}}</pre> -->
			
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	  Style
	</button>
	
	<form [formGroup]="myForm" class="dropdown-menu">
		<div class="dropdown-item" *ngFor="let data of artworksStyle" >
			<label [attr.for]="'style_' + data.style"><input type="checkbox" [attr.id]="'style_' + data.style" (change)="onChange(data.style, $event)"> {{data.style}} ({{data.Unit}})</label><br>
		</div>
	</form>	
  </div>