<div class="container" >
  <app-spinner></app-spinner>

  <app-header style="text-align: center;"></app-header>
  <table style="width: 50%; margin :0% auto 1% auto;">
    <tr >
      <td><app-sort (sortEvent)="changeSort($event)"></app-sort></td>
      <td>
        <app-filter
          (filter)="changeFilter($event)"
          [artworks]="currentArtworks"
        ></app-filter>
      </td>
    </tr>
  </table>

  <app-gallery
    [page]="currentPage"
    [sort]="currentSort"
    [filterSelected]="currentfilter"
    (artworks)="changeCurrentArtworks($event)"
  ></app-gallery>
  <app-pagination  (pageEvent)="changePage($event)"></app-pagination>
</div>
