<div class="container">
  <app-spinner></app-spinner>

  <app-header></app-header>

  <tr>
    <td><app-sort (sortEvent)="changeSort($event)"></app-sort></td>
    <td>
      <app-filter
        (filter)="changeFilter($event)"
        [artworks]="currentArtworks"
      ></app-filter>
    </td>
  </tr>

  <app-gallery
    [page]="currentPage"
    [sort]="currentSort"
    [filterSelected]="currentfilter"
    (artworks)="changeCurrentArtworks($event)"
  ></app-gallery>
  <app-pagination (pageEvent)="changePage($event)"></app-pagination>
</div>
