<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" ><a class="page-link" href="#" (click)="prevPage()">Previous</a></li>
      <li *ngIf="currentPage>1" (click)="selectPage(currentPage-1)" class="page-item"><a class="page-link" href="#">{{currentPage-1}}</a></li>
      
      <li class="page-item active"><a class="page-link" href="#">{{currentPage}}</a></li>
      <li class="page-item" (click)="selectPage(currentPage+1)"><a class="page-link" href="#">{{currentPage+1}}</a></li>
      <li class="page-item" (click)="selectPage(currentPage+1)"><a class="page-link" href="#">{{currentPage+2}}</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>

      <li class="page-item"><a class="page-link" href="#" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>