.pagination {
    width: 50%;
    margin: 0% auto 1% auto;

    .page-link {
        color: black;

    }

    .active>.page-link {
        background-color: gray;
        border-color: rgb(116, 116, 116);
    }
}